</br>
</br>
</br>
<h1 style="color :#646B73; font-family: zerif;margin-left:10px"><span class="glyphicon glyphicon-th-list" style="width=20px;height:20px;font-size : 24px;padding: 0px 8px;"></span>Listing students</h1>

<%= render 'form' %>

<%= link_to 'Show', @student %> |
<%= link_to 'Back', students_path %>

